body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    max-width: 100%;
}


.post-text {
    color: white;
}

.blog-content-info {
    display: flex;
    color: white;
    justify-content: center;
    font-weight: 900;
    padding-bottom: 3%;

}

body.light-mode .blog-content-info {
    color: var(--color-text-light);
}

.blog-container {
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 10px;
    background-color: #6e7f80;
    border-radius: 7px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 45%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-text);
    background-color: #333;
}

body.light-mode .card {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-top: 1%;

}

.button-p-n {
    padding: 1em 1.5em;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-button-text);
    border: none;
    border-radius: 7px;
    box-shadow: -5px 15px 20px 0.5px rgba(0, 0, 0, 0.466);
    font-size: x-large;
}

.button-p-n:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
    background-color: chocolate;

}

body.light-mode .button-p-n {
    background-color: var(--color-button-bg-light);
    color: var(--color-button-text-light);
}

@media screen and (max-width: 1200px) {
    .card {
        width: 100%;
    }

    .blog-container {
        width: 100%;
    }

    .button-p-n {
        position: relative;
        margin-top: 15%;
    }
}