.loader {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 20px solid;
    border-top-color: var(--color-primary);
    border-bottom-color: var(--color-secondary);
    border-radius: 50%;
    animation: spin 5s infinite linear;
    z-index: 1100;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%)rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}