@media screen and (max-width: 800px) {

    nav {
        display: none;
    }

    .blog-logo {
        width: 50%;
        align-self: left;
        visibility: visible;
        height: auto;
        margin-top: 3%;
    }

    .header-h3 {
        font-size: small;
        align-self: flex-start;
    }

    .hero {
        margin-top: 20%;
    }

    .hero-text {
        font-size: x-small;
    }

    .news {
        width: 95%;
        height: auto;

    }

    .news-title {
        font-size: small;
    }

    .news-content {
        font-size: x-small;
    }

    .read-more-button {
        font-size: small;
    }

    .hamburger-menu {
        display: flex;

    }

    .news-content a {
        font-size: large;
    }

    .footer-info {
        font-size: x-small;
    }

    .post-blog {
        width: 95%;
        border-radius: 10px;
        margin-top: 15%;
    }







}