.clickable-image {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 80%;
    height: 100%;
    overflow: auto;
    margin-left: 10%;
    cursor: pointer;

    background-color: #333;

}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content {
    display: block;
    width: 100%;
    max-height: 100vh;
    cursor: pointer;
    align-self: center;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    background-color: red;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}



.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .clickable-image {
        visibility: hidden;
    }
}