*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    /* Colors */
    --color-primary: #EB9049;
    --color-secondary: #69A9B3;
    --color-accent: #e74c3c;
    --color-text: #ffffff;
    --color-background: #333;

    /* Font Families */
    --font-family: "kanit", sans-serif;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-heading: 2em;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 1440px;
    max-height: 100%;
    font-family: var(--font-family);
    background-color: var(--color-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    width: 100%;
    height: 140px;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.blog-logo {
    height: 80%;
    width: 35%;

}

.hero {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    background: var(--color-secondary);
    padding: 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 25%;
    box-sizing: border-box;
    padding: 20px;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.news {
    padding: 20px;
    display: flex;
    align-items: center;
}

.news img {
    width: 200px;
    margin-right: 20px;
}

.news .news-text {
    flex: 1;
}

.news .news-text h2 {
    margin-top: 0;
}

.news .news-text p {
    margin-bottom: 10px;
}

.news .news-text a {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
}