* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

:root {
    /* Colors */
    --color-primary: #EB9049;
    --color-secondary: #69A9B3;
    --color-accent: #e74c3c;
    --color-text: #ffffff;
    --color-background: #121212;

    /* Font Families */
    --font-family: "kanit", sans-serif;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-heading: 2em;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: var(--font-family);
    background-color: var(--color-background);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: var(--color-primary); */
    color: var(--color-text);
    width: 100%;
    height: 140px;
    margin-bottom: 5%;
    ;
}

.hero-img {
    display: flex;
    max-width: 80%;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.blog-logo {
    max-height: 100%;
    width: 15%;


}

.hero {
    display: grid;
    display: flex;
    grid-template-columns: auto auto auto auto;
    background-position: center;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.hero-content {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;

}

.hero-text {
    background: linear-gradient(95deg, #69A9B3 5%, var(--color-primary)95%);
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.glow-element {
    width: 350px;
    height: 350px;
    border-radius: 360px;
    opacity: 0.3;
    background: radial-gradient(50% 50% at 50% 50%, #69A9B3 0%, rgba(62, 200, 223, 0.62) 43.75%, rgba(62, 200, 223, 0.62) 43.76%, rgba(13, 21, 36, 0) 100%);
    position: absolute;
    left: -130px;
    top: -130px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 5%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 25%;
    box-sizing: border-box;
    padding: 20px;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.news {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}

.news-text {
    display: flex;
    flex-direction: column;
    /* background-color: #EB9049; */
    width: 50%;
    min-height: 500px;
    color: white;
}

.news img {
    width: 200px;
    margin-right: 20px;
}

.news .news-text {
    flex: 1;
}

.news .news-text h2 {
    margin-top: 0;
}

.news .news-text p {
    margin-bottom: 10px;
}

.news .news-text a {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
}

.news-title {
    display: flex;
    color: white;
    font-size: xx-large;
}